{% extends 'base.html.twig' %}

{% block title %}Créer un utilisateur{% endblock %}

{% block body %}
    <div class="row">
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}


        <button type="submit" class="btn btn-success pull-right">Ajouter</button>
    {{ form_end(registrationForm) }}
    </div>
{% endblock %}
