{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">

        {{ include('task/_form.html.twig', {'button_label': 'Modifier'}) }}

        <a href="{{ path('task_list') }}">Retour à la liste des tâches</a>

        {#    {{ include('task/_delete_form.html.twig') }}#}


        {#from project original#}
{#        {{ form_start(form, {'action' : path('task_edit', { 'id' : task.id })}) }}#}
{#        {{ form_widget(form) }}#}

{#        <button type="submit" class="btn btn-success pull-right">Modifier</button>#}
{#        {{ form_end(form) }}#}
    </div>
{% endblock %}




