<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}To Do List app{% endblock %}</title>

    {% block stylesheets %}
        <!-- Bootstrap Core CSS -->
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="{{ asset('css/styles.css') }}" rel="stylesheet">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    {% endblock %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>

    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block javascripts %}

    {% endblock %}
</head>

<body>

{% include('shared/_navbar.html.twig') %}

<!-- Page Content -->
<div class="container main-content">
    <div class="container alert-message"></div>
    {% for flash_message in app.session.flashBag.get('success') %}
        <div class="alert alert-success" role="alert">
            <strong>Superbe !</strong> {{ flash_message }}
        </div>
    {% endfor %}

    {% for flash_message in app.session.flashBag.get('error') %}
        <div class="alert alert-danger" role="alert">
            <strong>Oops !</strong> {{ flash_message }}
        </div>
    {% endfor %}

    {% block header_title %}{% endblock %}

    {% block header_img %}
        <img class="slide-image" src="{{ asset('img/todolist_homepage.jpg') }}" alt="todo list">
    {% endblock %}


    {% block body %}
    {% endblock %}
</div>
<!-- /.container -->

<hr>
<footer>
    <p>Copyright &copy; OpenClassrooms</p>
</footer>


<script src="{{ asset('js/jquery.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
</body>
</html>
