<nav class="navbar navbar-desktop navbar-expand-sm navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('homepage') }}">To Do List app</a>
        <img src="{{ asset('img/Logo_OpenClassrooms.png') }}" alt="OpenClassrooms"/>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% if app.user %}
                    <li class="nav-item">
                        <a href="{{ path('user_details', {'id': app.user.id}) }}" class="btn btn-primary">Mon compte</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('logout') }}" class="btn btn-danger">Se déconnecter</a>
                    </li>
                {% endif %}

                {% if not app.user and 'login' != app.request.attributes.get('_route') %}
                    <li class="nav-item">
                        <a href="{{ path('user_create') }}" class="btn btn-primary">Créer un utilisateur</a>
                    </li>

                    <li class="nav-item">
                        <a href="{{ path('login') }}" class="btn btn-success">Se connecter</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
